<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Why am I here?</h3>
                <p>Personally what I would most like to get out of this course is an understanding of a new language of code, mainly due to the fact at school we teach ourselves and get taught python as the basic language to use to make it easier for all the teachers to form lessons. With this being the case it is then hard to fit in time to start learning a new language whilst juggling a school work, a social life and the Air cadets (which can take up a large amount of your week)
Another thing I would like to achieve is a greater independence. For example I have to catch the train home which will take multiple changes and hours of journeying. This is a large step as there is a high chance of missing or getting on the wrong train.
A final thing I would like to come away with is skills to present to people, as public speaking is a challenging task but is required in everyday life.
</p>
            </div>
          </div>
        </div>
    </body>
</html>
